<app-navbar [items]="items" (openEventEmitter)="openCart()"></app-navbar>

<div class="container">
  <h2 class="my-2">Product's Catalog!</h2>

  <!-- Estamos pasando en el atributo products del hijo (app-catalog) el atributo del padre (app-cart-app). Además estamos emitiendo el producto que hemos añadido al carrito haciendo click. -->
  <app-catalog
    [products]="products"
    (productEventEmitter)="onAddCart($event)"
  ></app-catalog>

  @if(showCart) {

  <div class="abrir-modal animacion fadeIn">
    <div class="modal" style="display: block" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Shopping cart!</h5>
          </div>
          <div class="modal-body">
            <button
              class="btn btn-secondary float-end"
              (click)="openCart()"
            >X</button>
            @if (items.length > 0) {
            <app-cart
              [items]="items"
              [total]="total"
              (idProductEventEmitter)="onDeleteCart($event)"
            ></app-cart>
            } @else {
            <div class="alert alert-warning">
              There are no items in the cart!
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>
